@import 'global';
@import 'reset';

.title-question {
    display: flex;
    align-items: center;
}
.test__form {
    .cases_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 900px;
    }
    
}

.userAns {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 5px;
    width: 120px;
    height: 40px;
    background-color: #a4f1cc;
    border: 1px solid grey;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}


.hide{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;  
    background-color: aquamarine;
}

.results__title {
    display: none;
}


.form__block {
    display: none;
}

.active {
    display: block;
}

.wellcome__pop__up {
    background-color: aquamarine;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    &__item{
        display: block;
        margin-bottom: 20px;
    }
}

 .time__counter {
   display: flex;
    text-align: center;
    
  }
.time__counter__item{
position: relative;
width: 30px;
    height: 32px;
    backcround-color: grey;
    heigth: 500px;
    border: 1px solid grey;
    border-radius: 10px;

    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

background-color: #00bcd4;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
margin: 3px;
}
.time__counter__item+.time__counter__item:before {
    content: ':';
    position: absolute;
    left: -8px;
    color: #000;
}

.users-results {
    display: grid;
    grid-column: 2;
}

.results {
    font-size: 34px;
}
.results__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
}