html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.title-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test__form .cases_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 900px;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.userAns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 0 5px;
  width: 200px;
  height: 40px;
  background-color: #a4f1cc;
  border: 1px solid grey;
  border-radius: 12px;
  color: #0f008b;
  font-size: 24px;
}

.hide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: aquamarine;
}

.results__title {
  display: none;
}

.form__block {
  display: none;
}

.active {
  display: block;
}

.wellcome__pop__up {
  background-color: aquamarine;
  background-image: url(../img/ben.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 10px 40px;
  overflow: hidden;
}

.wellcome__pop__up__item {
  display: block;
  margin-bottom: 20px;
  height: 40px;
  width: 290px;
  border-radius: 8px;
  border: transparent;
  outline: none;
  font-size: 20px;
}

.wellcome__pop__up__item:focus {
  border: 2px solid #c4f806;
}

.time__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.time__counter__item {
  position: relative;
  width: 30px;
  height: 32px;
  backcround-color: grey;
  heigth: 500px;
  border: 1px solid grey;
  border-radius: 10px;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00bcd4;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 3px;
}

.time__counter__item + .time__counter__item:before {
  content: ':';
  position: absolute;
  left: -8px;
  color: #000;
}

.users-results {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
}

.results {
  font-size: 34px;
}

.results__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 400px;
}

/*.wellcome__bg {
    background-image: url(../img/ben.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100vw;
    height: 730px;
}  
*/
.main__title {
  font-size: 40px;
  color: #36ace5;
  text-shadow: 1px 1px black;
}

.btn_action {
  width: 120px;
  height: 30px;
  background-color: #00bcd4;
  border: 1px solid #d4d2d2;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}

.results__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 500px;
  grid-gap: 10px solid grey;
  grid-gap: 2px;
}

.results__item {
  background-color: #e0f1f0;
}
/*# sourceMappingURL=style.css.map */